@charset "utf-8";

body {
    /* padding-left: 35%; */
    /* background: #68e3e9; */
    /* text-emphasis-position: relative; */
    background-image: url("seamless.png");
}

#mytb {
    text-align: center;
    color: #057a8fd0;
    margin-left: auto;
    margin-right: auto;
    /* background-image: url("test1.jpeg"); */
}

.image {
    width: 2555px;;
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}

td {
    font-family: "宋体";
}

em {
    color: #e4172b;
}

p {
    color: #057a8fd0;
    text-align: center;
}
li {
    text-align: center;
}


a {
    box-align: center;
    color: rgba(240, 62, 163, 0.914);
}
a:hover{
    color: #13db16;
    
}

h1 {
    /* position:relative; */
    font-family:"楷体";
    font-size:xx-large;
    text-align: center;
    color: #03539dd0;
}

h2 {
    /* position:relative; */
    font-family:"楷体";
    text-align: center;
    color: #3de417;
}

h3 {
    /* position:relative; */
    font-family:"楷体";
    text-align: center;
    color: #17ade4d0;
}